      <!-- Form with header -->
      <div class="card">
        <form method="POST" class="card-body">
					{% csrf_token %}          
					<!-- Header -->
          <div class="form-content">
            <h3 class="mt-2" style="font-size: 18px; font-weight: bold;">Write short Content</h3>
          </div>
          <div class="md-form">
          <i class="far fa-calendar-alt prefix grey-text"></i>
            <!-- <input type="text" id="form-name" class="form-control"> -->
            {{ form.date}}
            <label for="form-name">Date</label>
          </div>
           <div class="md-form">
           <i class="far fa-clock prefix grey-text"></i>
            <!-- <input type="text" id="phone-number" class="form-control"> -->
            {{ form.time }}
            <label for="form-name">Time</label>
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <!-- <input type="text" id="form-email" class="form-control"> -->
            {{ form.content }}
            <label for="form-email">Short Conetent</label>
          </div>
    
          <div class="text-center">
            <button class="btn btn-light-blue" type="submit">Send Message</button>
          </div>
          </form>
      </div>