<section class="home_product">
	<div class="container-fluid">
		<div class="row">
			 <div class="col-md-3 mx-auto mb-3">
			  <img src="../static/c2.png" class="img-fluid" />
			  <div class="back_home">
			 		<div class="product-detail">
			 		<div class="product-rate">500ksh</div>
				 	<h4>Irish coffee</h4>
				 	<br>
				 	<a href='{% url "shops:productshow" %}' class="btn-style-eight2 pull-right">Add to cart</a>
				 	</div>
				 </div>
			</div>
			 <div class="col-md-3 mx-auto mb-3">
			 <div class="back_home">
			<img src="../static/ff.jpg" class="img-fluid" />
			 		<div class="product-detail">
			 		<div class="product-rate">120ksh</div>
				 	<h4>Eiskaffee</h4>
				 	<br>
				 	<a href='{% url "shops:productshow" %}' class="btn-style-eight2 pull-right">Add to cart</a>
				 	</div>
				 </div>
			</div>
			 <div class="col-md-3 mx-auto mb-3">
			 <div class="back_home">
			 <img src="../static/c.png" class="img-fluid" />
			 		<div class="product-detail">
			 		<div class="product-rate">1000ksh</div>
				 	<h4>Vienna Coffee</h4>
				 	<br>
				 	<a href='{% url "shops:productshow" %}'shops:prouct1' %}' class="btn-style-eight2 pull-right">Add to cart</a>
				 	</div>
			 </div>
			</div>
			 <div class="col-md-3 mx-auto mb-3">
			 <div class="back_home">
			 	<img src="../static/gg.png" class="img-fluid" style="height: 280px;" />
			 		<div class="product-detail">
			 		<div class="product-rate">800Ksh</div>
				 	<h4>House Blend</h4>
				 	<br>
				 	<a href='{% url "shops:productshow" %}' class="btn-style-eight2 pull-right">Add to cart</a>
				 	</div>
			 </div>
			</div>
		</div>
			<div class="option">
				<a href='{% url "shops:productshow" %}' class="btn-style-eight5 pull-right">View All ->></a>
		</div>
	</div>
</section>

<section class="coffe_back">
<div class="back1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto mb-6">
				<img src="../static/hj.png" class="img-fluid">
				</div>
				<div class="col-md-6 mx-auto mb-6">
				<div class="styleback">
					<h2>
						Fresh Caramel, <br/>on your doorstep.<br/> Never run out of <br/>coffee again.
					</h2>
					<p>
						Get free shipping on your first order<br/|>
						with promo code FREESHIP
					</p>
					 <a href='#' class="btn-style-eight2 pull-right">Shop Now</a>
					  <a href='#' class="btn-style-eight2 pull-right">subscribe Now</a>

				</div>
			</div>
			</div>
	</div>
	</div>
</section>
