<section class="home_product">
	<div class="container-fluid">
		<div class="row">
		  {% for item in object_list %}
			 <div class="col-md-3 mx-auto mb-3">
			   <div class="view overlay">
				    <div class="image">
				    <img src="{{ item.image.url }}" class="card-img-top" alt=""> 
				      <a href="{{ item.get_absolete_url }}">
    
      			<div class="mask rgba-white-slight"></div>
    			</a>
    </div>
    </div>
			  <div class="back_home">
			 		<div class="product-detail">
			 		<div class="product-rate">{{ item.price }}ksh</div>
				 	<h4>{{ item.title }}</h4>
				 	<br>
				 	<a href='{{ item.get_absolete_url }}' class="btn-style-eight2 pull-right">Add to cart</a>
				 	</div>
				 </div>
			</div>
		{% endfor %}
		</div>
			<div class="option">
				<a href='{% url "shops:new" %}' class="btn-style-eight5 pull-right">View All ->></a>
		</div>
	</div>
</section>

<section class="coffe_back">
<div class="back1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto mb-6">
				<img src="../static/hj.png" class="img-fluid">
				</div>
				<div class="col-md-6 mx-auto mb-6">
				<div class="styleback">
					<h2>
						Fresh Caramel, <br/>on your doorstep.<br/> Never run out of <br/>coffee again.
					</h2>
					<p>
						Get free shipping on your first order<br/|>
						with promo code FREESHIP
					</p>
					 <a href='#' class="btn-style-eight2 pull-right">Shop Now</a>
					  <a href='#' class="btn-style-eight2 pull-right">subscribe Now</a>

				</div>
			</div>
			</div>
	</div>
	</div>
</section>
