{% extends "base.html" %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="slider">
        <div class="container-fluid">
        <div class="row back">
          <div class="col-md-6">
          <div class="back_2">
            <h2>Caramel</h2>
            <h3> <span><i class="fas fa-mug-hot"></i></span> 
            &nbsp;Coffee House</h3>
            <br/>
            <a href="{{ login_url }}" class="btn-style-eight pull-right">shop coffee </a>
            <a href="{% url 'account_signup' %}" class="btn-style-eight2 pull-right">subscribe Now</a>
          </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        </div>
      </div>
  </div>
</div>



<section class="product_coffe">
<h2>What's Your Favorite?</h2>
  <!-- <div class="row wow fadeIn">  
    {% for item in object_list %}
  <div class="col-lg-2 col-md-6 mb-4">
  <div class="card">
   <div class="view overlay">
    <div class="image">
    <img src="{{ item.image.url }}" class="card-img-top" alt=""> 
      <a href="{{ item.get_absolete_url }}">
    
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    </div>
    <div class="card-body text-center">
    <a href="{{ item.category.get_category_absolete_url }}" class="grey-text">
    </a>
  <h5>
  <strong>
    <a href="{{ item.get_absolete_url }}" class="dark-grey-text" style="font-size: 16px;">{{ item.title }}</a> &nbsp;&nbsp;&nbsp;

    <a href="{{ item.category.get_category_absolete_url }}" class="badge badge-pill {{ item.get_label_display }}-color">{{ item.category }}</a>
  </strong></h5>
   <h5 class="font-weight-bold blue-text" style="font-size: 18px; font-weight: bold;">
     
    {% if item.discount_price %}
    {{ item.discount_price }}
    {% else %}

      Ksh {{ item.price }}
    {% endif %} 
  </h5>
  </div>
  </div>
  </div>
  {% endfor %}
  </div>
  </div> -->
</section>
  {% include "home_product.html" %}
  
  </section>
  {% endblock content %}
