{% extends "base.html" %}

{% block content %}

<section class="showpage">
<div class="container">
  <div class="row">
     <div class="col-md-8 mx-auto mb-8">
     <div class="showproducts">
        <img src="{{ instance.image.url }}" class="img-fluid" alt="...">
        
     </div>
    </div>

     <div class="col-md-4 mx-auto mb-4">
        <h1>{{ instance.title }}</h1>
        <h2 class="mt-4">{{ instance.price }} Ksh</h2>
        <p class="text-muted mt-5">{{ instance.description}}</p>
        <a href="{{ instance.get_add_to_cart_url }}" class="btn-style-eight4 pull-right mt-5">Add to cart</a>
      </div>
     </div>
       
     </div>

  </div>
</div>
</section>
<hr/>
<section class="home_product">
  <div class="show_home">
    <h2>Other Options</h2>
    <br/><br/>
  </div>
  <div class="container-fluid">
    <div class="row">
     {% for category in items %}
       <div class="col-md-3 mx-auto mb-3">
          <div class="image">
          <img src="{{ category.image.url }}" 
          class="card-img-top" alt=""> 
            <a href="{{ category.get_absolete_url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
        <div class="back_home">
          <div class="product-detail">
          <div class="product-rate">{{ category.price }}ksh</div>
          <h4>{{ category.title }}</h4>
          <br>
          <a href='{{ category.get_absolete_url }}' class="btn-style-eight2 pull-right">Add to cart</a>
          </div>
         </div>
      </div>
    {% endfor %}
    </div>

    <div class="option">
        <a href='{% url "shops:new" %}' class="btn-style-eight5 pull-right">Shop All options</a>
    </div>
  </div>
</section>
  
 {% endblock content %}
