{% extends "base.html" %}

{% block content %}

<section class="showpage">
  <h1>{{ instance.title }}</h1>
<div class="container">
  <div class="row">
     <div class="col-md-8 mx-auto mb-8">
     <div class="showproducts">
        <img src="{{ instance.image.url }}" class="img-fluid" alt="...">
        <p class="text-muted">{{ instance.description}}</p>
     </div>
    </div>

     <div class="col-md-4 mx-auto mb-4">
      <form method="POST" class="card-body">
          {% csrf_token %} 
      <div class="product-single__box">
      <div class="product-single__price">
        <h3>{{instance.price }} <span>Ksh</span></h3>
      </div>
      <div class="box">
      <div class="form-outline mb-4">
       <label class="form-label" for="form2Example1">
       Date
       </label>
        <!-- <input type="date" id="form2Example1" class="form-control" placeholder="Date" /> -->
        {{ form.date}}
      </div>
      <div class="form-outline mb-4">
       <label class="form-label" for="form2Example1">
       Time</label>
    <!--    <input type="time" id="form2Example1" class="form-control" placeholder="Time" /> -->
    {{ form.time }}
    </div>
      <div class="form-outline mb-4">
       <label class="form-label" for="form2Example1">Describe Your Order</label>
      <!--    <input type="text" id="form2Example1" class="form-control" placeholder="Content" /> -->
      {{ form.content }}
      </div>
      <button class="btn-style-eight8" type="submit">
        Send Request</button>
        <hr/>
       
        <a href="{{ instance.get_add_to_cart_url }}" class="btn-style-eight4 pull-right">Add to cart</a>
      </div>
     </div>
       </form>
     </div>

  </div>
</div>
</section>
<hr/>
<section class="home_product">
  <div class="show_home">
    <h2>Other Options</h2>
    <br/><br/>
  </div>
  <div class="container-fluid">
    <div class="row">
     {% for category in items %}
       <div class="col-md-3 mx-auto mb-3">
          <div class="image">
          <img src="{{ category.image.url }}" 
          class="card-img-top" alt=""> 
            <a href="{{ category.get_absolete_url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
        <div class="back_home">
          <div class="product-detail">
          <div class="product-rate">{{ category.price }}ksh</div>
          <h4>{{ category.title }}</h4>
          <br>
          <a href='{{ category.get_absolete_url }}' class="btn-style-eight2 pull-right">Add to cart</a>
          </div>
         </div>
      </div>
    {% endfor %}
    </div>

    <div class="option">
        <a href='{% url "shops:new" %}' class="btn-style-eight5 pull-right">Shop All options</a>
    </div>
  </div>
</section>
  
 {% endblock content %}
